.lend-wrapp
    .logo
        img(src='./img/logo.svg')

    .first-step(id='first-step').active
        .freespins
            .freespins__info.action-spin You have
                p
                    span(id='current-spins') 3
                    |  Free Spins
            .freespins__img
                img(src='./img/arrow.png')
        .slot
            .slot__img#slot-img
                img(src='./img/frame.png')
                img(src='./img/hand-up.png').up.action-spin
                img(src='./img/hand-down.png').down

            .columns
                .col.col-first
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                .col.col-second
                    img(src='./img/2.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                .col.col-third
                    img(src='./img/3.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/4.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/4.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                    img(src='./img/3.png')
                    img(src='./img/1.png')
                    img(src='./img/4.png')
                    img(src='./img/2.png')
                //.column__bg
                //    img(src='./img/bg-slot.jpg')

        button.spin.action-spin spin

    .second-step(id='second-step')
        .win-info
            .description
                p 200%
                p deposit bonus
                p + 150 FreeSpins
        a(href='#').spin take bonus



